<form action="https://formkeep.com/f/3ab9980e6ae3" accept-charset="UTF-8" enctype="multipart/form-data" method="POST">
    <h2>Subscribe or contact me, including for tutoring, by filling in this form</h2>
    <input type="email" name="email" placeholder="Email" required>
    <input type="text" name="name" placeholder="Name (optional)">
    <div>
        <input type="checkbox" id="subscribe" name="$subscribe" checked />
        <label for="subscribe">Subscribe to infrequent musings</label>
    </div>
    <textarea name="message" cols="30" rows="10"></textarea>
    <button>Submit</button>
</form>