<form action="https://api.staticforms.xyz/submit" method="post">
    <input type="hidden" name="accessKey" value="24596082-2518-4ec2-a3e7-c3d60b2db7c6">
    <input type="text" name="honeypot" style="display:none">


    <input type="email" name="email" placeholder="Your Email" />
    <br>
    <textarea name="message"></textarea>
    <div>
        <input type="checkbox" id="subscribe" name="$subscribe" checked />
        <label for="subscribe">Subscribe to infrequent musings</label>
    </div>
    <input type="hidden" name="replyTo" value="@">
    <input type="hidden" name="redirectTo" value="https://poonos.com/">
    <input type="submit" value="Submit" />
</form>